<button class="custom-button @GetButtonClasses()"
        @onclick="OnClick"
        disabled="@Disabled">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <img class="button-icon" src="Images/@Icon" alt="@Icon"/>
    }
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
</button>

@code {
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool Secondary { get; set; } = false;
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public bool Danger { get; set; } = false;
    [Parameter]
    public string CustomClass { get; set; }

    private string GetButtonClasses()
    {
        string baseClass = Danger 
            ? "custom-button-danger" 
            : (Secondary ? "custom-button-secondary" : "custom-button-primary");

        if (Disabled)
        {
            baseClass += " custom-button-disabled";
        }

        return baseClass;
    }
}