@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity.Data
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr
@rendermode InteractiveServer
<link href="css/LoginStyle.css?version=0.1" rel="stylesheet"/>
<title>Log In Here</title>
<AuthorizeView>
    <NotAuthorized>
        <div class="login-container">
            <div class="login-box">
                <h1>ReFridgerate</h1>
                <form>
                    <div class="form-group">
                        <label for="email">
                            @*<img src="Images/Mail.png" style="width: 70%; left: -10px" >*@
                        </label>
                        <input id="email" @bind="email" type="email" placeholder="Email"/>
                    </div>

                    <div class="form-group">
                        <label for="password">
                            <i class="fa-lock"></i>
                        </label>
                        <input id="password" @bind="password" type="password" placeholder="Password"/>
                        <button type="button" class="toggle-password">
                            <i class="fa-eye"></i>
                        </button>
                    </div>

                    <div class="extras">
                        <a href="/lobby">Forgot password?</a>
                        <p>
                            Don't have an account?
                            <a href="/signup">Sign up</a>
                        </p>
                    </div>
                </form>
                <div style="display:flex; justify-content: center">
                    <Button Text="Sign In"
                            OnClick="() => HandleLoginReq()">
                    </Button>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <h3>Hello</h3>
    </Authorized>
</AuthorizeView>

@code {
    private string email = "jdoe@example.com";
    private string password = "password123";
    private string errorLabel;

    private async Task HandleLoginReq()
    {
        await LoginAsync();
    }

    private async Task LoginAsync()
    {
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Login(email, password);
            navMgr.NavigateTo("/lobby");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorLabel = $"Error: {e.Message}";
            StateHasChanged();
        }
    }
    

}