@page "/home"
@using System.Reflection.Metadata
@using System.Security.Claims
@using APIContracts.UserDtos
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Http.HttpResults
@inject IUserService UserService

<link href="css/Home.css?version=0.1" rel="stylesheet" />

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <h2>Hi, @context.User.Identity?.Name!</h2>
        <div class="page-container m-2 justify-content-center align-items-center">
            <img class="p-1 ingredient-content image-main" src="@_ratString"/>
        </div>
        <Button
            Text="Get a new rat!"
            OnClick="()=>{GiveRandomPicture();}"></Button>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>

@code {

    string _ratString { get; set; } = "";

    Random random = new ();
    public void GiveRandomPicture() {
        int rat = random.Next(1, 8);
        _ratString = $"/Images/rat{rat}.jpg";
    }
    protected async override Task OnInitializedAsync() {
        Thread _myThread = new (()=> {
            while (true) {
                Thread.Sleep(2000);
                GiveRandomPicture();
                    
            }
        });
        GiveRandomPicture();
        _myThread.Start();
    }
}