.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.icon-img {
    width: 1.875rem;
    height: 1.875rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.logo-title {
    font-size: 1.2rem;
}

.dark .logo-title {
    color: white !important;
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    /*background-color: rgba(0,0,0,0.4);*/
    transition: background-color 0.3s ease;
}

.dark .top-row {
    background-color: #1b4332;
}

.navbar-brand {
    font-size: 1.1rem;
    text-decoration: none;
}

nav {
    position: relative;
    min-height: calc(100vh - 3.5rem);
    padding: 0 0.5rem;
}

.main-menu {
    padding-bottom: 7rem; /* Space for bottom menu */
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 0.5rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.bottom-menu .nav-item:first-of-type {
    padding-top: 0;
}

.bottom-menu .nav-item:last-of-type {
    padding-bottom: 0;
}

.nav-item ::deep .nav-link {
    color: black;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    padding: 0 0.5rem;
}

.dark .nav-item ::deep .nav-link {
    color: white;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.dark .nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: black;
}

.dark .nav-item ::deep .nav-link:hover {
    color: white;
    background-color: rgba(255,255,255,0.15);
}

.nav-scrollable {
    display: none;
    /*background-color: rgba(0,0,0,0.4);*/
    position: relative;
}

.dark .nav-scrollable {
    background-color: #1b4332;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* Theme toggle specific styles */
.theme-toggle-nav {
    padding-left: 0.5rem !important;
    color: inherit !important;
}