@using BlazorApp1.Services
@inject IThemeState ThemeState

<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand logo-title" href="home" style="color: #000000"><b>ReFridgerate</b></a>
        <img class="icon-img" src="Images/fridge.png" alt="fridge"/>
        <button 
            class="theme-toggle-btn"
            @onclick="ToggleTheme"
            title="Toggle theme">
            @if (ThemeState.IsDarkMode)
            {
                <span>🌙</span>
            }
            else
            {
                <span>☀️</span>
            }
        </button>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="home">
                <img class="icon-img" src="Images/home.png" alt="home"/>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="lobby">
                <img class="icon-img" src="Images/grocery-bag.png" alt="ingredients"/>
                <span>Ingredients</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="recipe">
                <img class="icon-img" src="Images/recipe.png" alt="ingredients"/>
                <span>Recipes</span>
            </NavLink>
        </div>

        <div class="nav-item nav-item-admin" style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1000;">
            <NavLink class="nav-link" href="admin">
                <img class="icon-img" src="Images/admin.png" alt="admin"/>
                <span>Admin</span>
            </NavLink>
        </div>
    </nav>
    <div class="nav-item nav-item" >
        <NavLink class="nav-link" href="chefmenu">
            <img class ="icon-img" src="Images/Chef.png" alt="chef-menu"/>
            <span class="oi oi-menu" aria-hidden="true"></span> Chef Menu
        </NavLink>
    </div>
    <div class="nav-item nav-item" >
        <NavLink class="nav-link" href="waitermenu">
            <img class ="icon-img" src="Images/Waiter.png" alt="chef-menu"/>
            <span class="oi oi-menu" aria-hidden="true"></span> Waiter Page
        </NavLink>
    </div>

</div>

@code {
    private async Task ToggleTheme()
    {
        await ThemeState.SetThemeAsync(!ThemeState.IsDarkMode);
    }
}