<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: #000000">ReFridgerate</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="home">
                <i class="icon">📧</i>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <i class="icon">📊</i>
                <span>Counter</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <i class="icon">🌤</i>
                <span>Weather</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="about">
                <i class="icon">ℹ️</i>
                <span>About</span>
            </NavLink>
        </div>
    </nav>
</div>